@import "~animate.css";

.animate__animated {
  animation-duration: 0.5s;

  &.delay {
    &__1 {
      animation-delay: 0.3s;
    }

    &__2 {
      animation-delay: 0.6s;
    }

    &__3 {
      animation-delay: 0.9s;
    }

    &__4 {
      animation-delay: 1.2s;
    }

    &__5 {
      animation-delay: 1.5s;
    }

    &__6 {
      animation-delay: 1.8s;
    }

    &__7 {
      animation-delay: 2.1s;
    }

    &__8 {
      animation-delay: 2.4s;
    }

    &__9 {
      animation-delay: 2.7s;
    }

    &__10 {
      animation-delay: 3s;
    }

    &__11 {
      animation-delay: 3.3s;
    }

    &__12 {
      animation-delay: 3.6s;
    }
  }
}
