.iti {
  .form-phone-wrap & {
    display: block;
    z-index: 1;
  }

  .form-control {
    padding-left: 50px;
  }
}

.iti__country-list {
  .form-phone-wrap & {
    max-height: 300px;
    background-color: $white;
  }
}
