.modal {
  .modal-dialog {
    @include media-breakpoint-up(md) {
      min-width: 800px;
    }

    .modal-content {
      border-radius: 0;
      border: none;

      .close {
        position: absolute;
        right: 0;
        top: -2rem;
        opacity: 1;
      }
    }

    &.modal-fullscreen {
      width: 100vw;
      max-width: none;
      height: 100%;
      margin: 0;
      background: $white;

      .close {
        right: 1rem;
        top: 1rem;
      }
    }
  }
}
