.banner {
  height: 100vh;
  position: relative;

  .container,
  .container-fluid,
  .row {
    height: 100%;
    align-items: center;
  }

  .bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  @include media-breakpoint-down(md) {
    height: 100%;

    .bg-image {
      position: relative;
    }
  }
}
