.course-glance {
  .container-fluid {
    height: 300px;
  }

  .container {
    margin-top: -150px;
    background: $gray-300;

    .row {
      padding: 4rem;

      .details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }
  }
}
