.course-tab-content {
  .nav {
    display: none;
  }

  @include media-breakpoint-up(md) {
    .nav {
      display: flex;
    }

    .card.parent {
      border: none;
    }

    .card.parent > .card-header {
      display: none;
    }

    .card.parent > .collapse {
      display: block;
    }
  }

  @include media-breakpoint-down(md) {
    .tab-content > .tab-pane {
      display: block;
      opacity: 1;
    }
  }
}
