.header {
  height: 600px;
  position: relative;

  .bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .container,
  .row {
    height: 100%;
    align-items: flex-end;
    align-content: flex-end;
  }
}
