.interactive-search {
  &__select {
    &__current {
      cursor: pointer;
    }

    &__list {
      display: none;

      .option {
        cursor: pointer;
      }

      &.open {
        display: block;
      }
    }
  }
}
