.levels-of-study-infographic {
  .infographic {
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap;
    cursor: pointer;

    @include media-breakpoint-up(lg) {
      justify-content: center;
      overflow: hidden;
    }

    &__item {
      flex-grow: 0;
      margin: 15px;
      background-color: $gray-300;
      padding: 10px;
      width: 200px;
      flex-basis: 200px;
      max-width: 200px;
      min-width: 200px;
      border: 1px solid transparent;
      position: relative;

      &.active {
        border: solid 1px $black;
      }

      .title {
        min-height: 70px;
      }

      .units {
        display: flex;
        flex-wrap: wrap;

        &__unit {
          position: relative;
          width: 79px;
          height: 40px;
          background-color: $white;
          margin: 5px;

          &.half,
          &.full {
            background-color: transparent;

            &::before {
              content: "UNIT";
              display: block;
              background-color: $black;
              color: $white;
              font-weight: bold;
              text-align: center;
              font-size: 12px;
            }
          }

          &.half {
            &::before {
              height: 18px;
              line-height: 18px;
            }

            &::after {
              content: "";
              display: block;
              background-color: $white;
              height: 18px;
            }
          }

          &.full {
            &::before {
              height: 40px;
              line-height: 40px;
            }
          }
        }
      }
    }
  }
}

.results {
  display: none;

  &.show {
    display: block;
  }
}
