.news-archive {
  &__article {
    background-color: #ddd;
    padding: 20px;
    margin-bottom: 30px;
  }

  &__categories {
    &__form {
      display: flex;
      flex-direction: row;

      a {
        margin: 1rem 0.5rem;
      }
    }
  }

  #more_posts {
    cursor: pointer;

    &[disabled="disabled"] {
      display: none;
    }
  }
}
