.parallax-page {
  .sidebar {
    position: fixed;
  }

  .bg-image,
  .bg-video {
    min-height: 500px;
    background-attachment: fixed;
  }

  .content {
    padding: 4rem;
  }
}

html {
  scroll-behavior: smooth;
}
