@import "~slick-carousel/slick/slick";

.portrait-carousel {
  &__controls {
    text-align: right;
  }

  .slide {
    height: 600px;

    .bg-image {
      height: 600px;
    }

    .icon {
      margin-top: auto;
    }

    .content {
      margin-top: auto;
    }
  }
}
