.quick-links {
  .column {
    position: relative;
    display: flex;
    flex-direction: column;

    &__tag {
      background: $gray-200;
      border-bottom: solid 2px $black;
    }

    &__content {
      background: $gray-200;
      height: 100%;
      flex: 1 1 auto;
    }

    &__footnote {
      background: $gray-200;
      text-align: right;
    }
  }
}
