.vertical-accordion {
  @include media-breakpoint-up(md) {
    .accordion.v-accordion {
      border: 1px solid rgba(0, 0, 0, 0.125);
      display: flex;

      .card.v-card {
        flex-direction: row;
        flex-grow: 0;
        flex-shrink: 1;
        min-width: min-content;

        &.active {
          flex-grow: 1;
        }

        .card-header.v-card-header {
          cursor: pointer;
          transform: rotate(180deg);
          writing-mode: vertical-rl;

          &:not(.collapsed) {
            pointer-events: none;
          }
        }
      }

      .collapsing.width {
        transition: width 0.35s ease;
        height: auto;
        width: 0;
      }
    }
  }
}
