.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  min-height: 30px;

  @include media-breakpoint-up(md) {
    min-height: 80px;
  }

  .top-header {
    min-height: 30px;
    background-color: $gray-200;

    &__label {
      //
    }

    &__nav {
      //
    }

    &__menu {
      li {
        display: inline-block;
        margin: 0 1rem;
      }
    }
  }

  &__wrap {
    position: relative;
    background-color: $gray-300;
  }

  .logo {
    position: relative;
    max-width: 150px;

    &__home {
      position: absolute;
    }
  }

  .apply-button {
    position: absolute;
    top: 0;
    right: 0;
  }

  .search-button {
    position: absolute;
    top: 0;
    right: 0;
  }

  .main-menu {
    &__nav {
      //
    }

    &__menu {
      //
    }
  }
}
