// Classes
.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 300px;
}

.bg-video {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  flex-direction: column;

  .icon {
    transition: $general-transition;
  }

  &:hover {
    .icon {
      transform: scale(1.2);
    }
  }
}
