// Body
body {
  @include font-size($font-size-base);

  font-family: $font-family-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $body-color;
  background-color: $body-bg;
}

// Headings
// stylelint-disable selector-list-comma-newline-after
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1, .h1 {
  @include font-size($h1-font-size);
}

h2, .h2 {
  @include font-size($h2-font-size);
}

h3, .h3 {
  @include font-size($h3-font-size);
}

h4, .h4 {
  @include font-size($h4-font-size);
}

h5, .h5 {
  @include font-size($h5-font-size);
}

h6, .h6 {
  @include font-size($h6-font-size);
}

// stylelint-enable selector-list-comma-newline-after

// Paragraph
p {
  @include font-size($font-size-18);

  margin-bottom: $paragraph-margin-bottom;
}

// Abbreviations
ol,
ul,
dl {
  list-style: none;
  margin-top: 0;
  padding: 0;
  margin-bottom: 1rem;
}

// Links
a {
  color: $link-color;
  text-decoration: $link-decoration;
  background-color: transparent;
  cursor: pointer;

  @include hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

// Image
img {
  height: auto;
  width: 100%;
}
