// stylelint-disable selector-list-comma-newline-after
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  //overflow: auto;
}

section {
  //
}

// stylelint-enable selector-list-comma-newline-after

.wrap {
  //

  @include media-breakpoint-up(md) {
    //
  }

  main {
    //
  }
}
