/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

// Colors
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #eff0f1;
$gray-400: #ced4da;
$gray-500: #a09d9c;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #3b3d4b;
$gray-900: #212529;
$black: #000;
$blue: #34558b;
$indigo: #a2553a;
$purple: #72617d;
$pink: #eaac9d;
$red: #d13b40;
$orange: #fd823e;
$yellow: #ffaf12;
$green: #4ec5a5;
$teal: #117893;
$cyan: #798fa8;

$theme-colors: (
  primary: $blue,
  secondary: $gray-500,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-300,
  dark: $gray-800
);

// Typography
// stylelint-disable value-keyword-case
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base: "Roboto", $font-family-sans-serif;
$font-family-secondary: "Roboto Condensed", $font-family-sans-serif;
// stylelint-enable value-keyword-case
$enable-responsive-font-sizes: true;

// Font sizes
$font-size-88: 88px;
$font-size-54: 54px;
$font-size-48: 48px;
$font-size-40: 40px;
$font-size-32: 32px;
$font-size-28: 28px;
$font-size-24: 24px;
$font-size-20: 20px;
$font-size-18: 18px;
$font-size-16: 16px;
$font-size-14: 14px;
$font-size-12: 12px;

$font-size-base: 1rem;
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * 0.875;
$h1-font-size: $font-size-88;
$h2-font-size: $font-size-54;
$h3-font-size: $font-size-48;
$h4-font-size: $font-size-40;
$h5-font-size: $font-size-32;
$h6-font-size: $font-size-20;
$headings-margin-bottom: 0.5rem;
$headings-font-family: $font-family-secondary;
$headings-font-weight: 700;
$headings-line-height: 1.2;
$headings-color: null;
$small-font-size: 80%;
$paragraph-margin-bottom: 1rem;
$line-height-base: 1.5;

// Links
$link-color: $teal;
$link-decoration: none;
$link-hover-color: $cyan;
$link-hover-decoration: none;

// Body
$body-bg: $white;
$body-color: $gray-900;

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
);

// Grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1290px
);

$grid-gutter-width: 30px;

// Transitions
$general-transition: all 0.3s ease 0s;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
